@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 25rem;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 5px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #1C48F5;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
}


.Header a {
  color: white;
  padding: 10px;
}

.Header a:hover {
  background-color: #555;
}